<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gmpark.bankbackend.mappers.UserMapper">

    <insert id="insertUser"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `bank`.`user` (user_type,name, email, password, resident_number)
        VALUES (
                IFNULL(#{user.userType} , 'customer'),
                #{user.name},
                #{user.email},
                #{user.password},
                #{user.residentNumber})
    </insert>
    <insert id="insertMember"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `bank`.`member` (name, email, password,level,auth,team,status,join_date,last_login,created_at)
        VALUES (#{member.name},
                #{member.email},
                #{member.password},
                #{member.level},
                #{member.auth},
                #{member.team},
                IFNULL(#{member.status}, 0),
                IFNULL(#{member.joinDate}, NOW()),
                IFNULL(#{member.lastLogin}, NOW()),
                IFNULL(#{member.createdAt}, NOW())
               )
    </insert>
    <update id="updateMember">
        UPDATE `bank`.`member`
        SET name = #{member.name},
            level = #{member.level},
            auth = #{member.auth},
            team = #{member.team},
            status = #{member.status}
            <if test="member.password != null and member.password != ''">
                , password = #{member.password}
            </if>
        WHERE email = #{member.email}
    </update>
    <select id="selectMembers" resultType="dev.gmpark.bankbackend.entities.MemberEntity">
        SELECT id,
               email,
               password,
               name,
               level,
               auth,
               team,
               status,
               join_date AS joinDate,
               last_login AS lastLogin,
               created_at AS createdAt
        FROM `bank`.`member`
    </select>
    <select id="selectUserByEmailPasswordAndResidentNumber" resultType="dev.gmpark.bankbackend.entities.UserEntity">
        SELECT `email` AS `email` ,
               `password` AS `password`,
               `resident_number` AS `residentNumber`,
               `name` AS `name`,
               `user_type` AS `userType`
        FROM `bank`.`user`
        WHERE email = #{email}
          AND password = #{password}
          AND resident_number = #{residentNumber}
        LIMIT 1
    </select>
    <select id="selectUserByEmailAndPassword" resultType="dev.gmpark.bankbackend.entities.UserEntity">
        SELECT `email` AS `email` ,
               `password` AS `password`,
               `resident_number` AS `residentNumber`,
               `name` AS `name`,
               `user_type` AS `userType`
        FROM `bank`.`user`
        WHERE email = #{email}
          AND password = #{password}
        LIMIT 1
    </select>
</mapper>